<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      data-namespace-typo3-fluid="true" lang="en">

<footer class="d-print-none">
	<div class="container" id="supportedby">
		<div class="row justify-content-center">
			<div class="col-12 center">
				<p><b>Mit freundlicher Unterstützung durch</b></p>
			</div>
		</div>
		<div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-4 center">
				<a href="https://www.krebshilfe.de/" target="_blank" title="Link zur Stiftung Deutsche Krebshilfe"><img src="/typo3conf/ext/wdv_customer/Resources/Public/Images/Logos/extern/logo_deutsche_krebshilfe.svg" alt="Logo der Stiftung Deutsche Krebshilfe"></a>
            </div>
            <div class="col-12 col-md-4 center">
                <a href="https://www.krebsgesellschaftnrw.de/" target="_blank" title="Link zur Krebsgesellschaft Nordrhein-Westfalen e.V."><img src="/typo3conf/ext/wdv_customer/Resources/Public/Images/Logos/extern/logo_krebsgesellschaft_nrw.svg" alt="Logo der Krebsgesellschaft Nordrhein-Westfalen e.V."></a>
            </div>
        </div>
	</div>
    <div class="container">
		<div class="row">
			<div class="col-12 pl-3 pr-3 pl-md-0 pr-md-0">
				<div class="row mb-md-3">
					<div class="col-12 col-md-4">
						<f:render partial="Structure/Feature/CopyWriteGib8" arguments="{data:data}" optional="true" />
					</div>
					<div class="col-12 col-md-8 mb-3">
						<f:cObject typoscriptObjectPath="lib.foot-navigation"/>
					</div>
				</div>
			</div>
		</div>
		<div class="row cookie-opener">
			<f:cObject typoscriptObjectPath="lib.wx_consentbanner_opener" />
		</div>
	</div>
</footer>

<f:render partial="Structure/Feature/ScrollTop" arguments="{data:data}" optional="true" />

</html>
