<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:fp="http://typo3.org/ns/HDNET/Focuspoint/ViewHelpers"
      xmlns:w="http://typo3.org/ns/WDV/WdvCustomer/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="tx_mask collapse-button mt-4 mb-5 {f:if(condition: data.tx_wdvcustomer_content_breakoutleft, then: 'breakout-md-left')}{f:if(condition: data.tx_wdvcustomer_content_breakoutright, then: ' breakout-md-right')}" id="c{data.uid}">
    <button class="btn btn-lg btn-collapse btn-plus collapsed" type="button" data-toggle="collapse" data-target="#collapse{data.uid}" aria-expanded="false" aria-controls="collapse{data.uid}">
        {data.tx_mask_label}
    </button>
    <div id="collapse{data.uid}" class="collapse mt-5">
        <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data.bodytext}</f:format.html>
    </div>
</div>

</html>






