<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:w="http://typo3.org/ns/WDV/WdvCustomer/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="tx_mask infobox gib8whiteslot mt-4 mb-4" id="c{data.uid}">
    <div class="row no-gutters justify-content-center">
        <div class="col-8">
                <div class="infobox-inner">

                        <div class="spacer"></div>

			<f:if condition="{data.header}"><h3>{data.header -> f:format.raw()}</h3></f:if>

                        <f:if condition="{data.bodytext}">
                                <div class="text">{data.bodytext -> f:format.html()}</div>
                        </f:if>

                </div>
        </div>
    </div>
</div>

</html>

