{namespace vh=In2code\Powermail\ViewHelpers}

<div class="powermail_fieldwrap powermail_fieldwrap_type_content powermail_fieldwrap_{field.marker} {field.css} <v:format.replace substring="col-md-6" replacement="col-md-{field.txWdvcustomerPowermailBootstrapCols}" caseSensitive="0">{settings.styles.framework.fieldAndLabelWrappingClasses}</v:format.replace>">
	<div class="{settings.styles.framework.fieldWrappingClasses} {settings.styles.framework.offsetClasses}">
		<vh:Misc.ContentElement uid="{field.contentElement}" />
	</div>
</div>
